@{
    Layout = "~/Views/Shared/_LayoutTest2.cshtml";
}
@{
    ViewBag.Title = "Cas de test";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
        type="text/javascript"></script> 

<section class="content-header">

    <h1>
        Cas de test
        <small>Détails</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="#">Cas de test</a></li>
        <li class="active">Détails</li>
    </ol>

</section>

<section class="content">
    <div class="box box-default color-palette-box">
        <div class="box-header with-border">
            <div class="btn-group-sm">
                <asp id="btnEnregistrer" onclick="" class="btn btn-sm btn-info btn-flat pull-left">Enregistrer</asp>
                <a id="btnModifier" class="btn btn-sm btn-info btn-flat pull-left">Modifier</a>
                <a id="btnDesactiver"class="btn btn-sm btn-info btn-flat pull-left">Désactiver</a>
                <a id="btnSupprimer" class="btn btn-sm btn-info btn-flat pull-left">Supprimer</a>
            </div>

            <script>
                   $(document).ready(function () {
                       //chercher la list de Ficher cas de test
                       $.ajax({
                           url: '/CasTest/getlstFichierCasTest',
                           contentType: 'application/html; charset=utf-8',
                           type: 'GET',
                           dataType: 'html'

                       })
                       .success(function (result) {
                           $('#tblCasTest').replaceWith(result);
                       })
                       .error(function (xhr, status) {
                           alert(status);
                       })


                    @*@ViewBag.nomCas = $("#nomCas").val();
                    @ViewBag.codeCas = $("#codeCas").val();
                    @ViewBag.codeProjet = $("#codeProjet").val();
                    @ViewBag.codeTypeTest = $("#codeTypeTest").val();
                    @ViewBag.dateCreation = $("#dateCreation").val();
                    @ViewBag.dateEcheance = $("#dateEcheance").val();
                    @ViewBag.descCas = $("#descCas").val();
                    @ViewBag.descDifficulte = $("#descDifficulte").val();
                    @ViewBag.infoSup = $("#infoSup").val();
                    @ViewBag.objectifCas = $("#objectifCas").val();
                    @ViewBag.prioriteCas = $("#prioriteCas").val();*@

             });
            </script>

            @*Permet d'appeler la fonction enregistrer un cas de test*@
             <script>
                 //$('#btnEnregistrer').click(function () {

                 //    //Le changer pour un ADD pour réutilisation
                 //    var stringArray = new Array();
                 //    stringArray[0] = $("#nomCas").val();
                 //    stringArray[1] = $("#codeCas").val();
                 //    stringArray[2] = $("#codeProjet").val();
                 //    stringArray[3] = $("#codeTypeTest").val();
                 //    stringArray[4] = $("#dateCreation").val();
                 //    stringArray[5] = $("#dateEcheance").val();
                 //    stringArray[6] = $("#descCas").val();
                 //    stringArray[7] = $("#descDifficulte").val();
                 //    stringArray[8] = 1;
                 //    stringArray[9] = $("#infoSup").val();
                 //    stringArray[10] = $("#objectifCas").val();
                 //    stringArray[11] = $("#prioriteCas").val();
                 //    var postData = { values: stringArray };

                 //    $.ajax({
                 //        type: "POST",
                 //        url: '/CasTest/EnrCasTest',
                 //        data: postData,
                 //        dataType: "json",
                 //        traditional: true,
                 //        success: function (data) {
                 //            alert(data.Result);
                 //        }            
                 //    });
                 //});

                 $('#btnEnregistrer').click(function () {

                     //Le changer pour un ADD pour réutilisation
                     var stringArray = getInfoFormCasTest();
                     var postData = { values: stringArray };

                     $.ajax({
                         type: "POST",
                         url: '/CasTest/EnrCasTest',
                         data: postData,
                         dataType: "json",
                         traditional: true,
                         success: function (data) {
                             alert(data.Result);
                         }
                     });
                 });

            @*Permet d'appeler la fonction desactiver un cas de test*@
                 $('#btnDesactiver').click(function () {

                     //Le changer pour un ADD pour réutilisation
                     var stringArray = new Array();
                     stringArray[0] = $("#codeCas").val();
                     var postData = { values: stringArray };

                     $.ajax({
                         type: "POST",
                         url: '/CasTest/DesacCasTest',
                         data: postData,
                         dataType: "json",
                         traditional: true,
                         success: function (data) {
                             alert(data.Result);
                         }
                        
                     });
                 });

            @*Permet d'appeler la fonction supprimer un cas de test*@
                 $('#btnSupprimer').click(function () {

                     //Le changer pour un ADD pour réutilisation
                     var stringArray = new Array();
                     stringArray[0] = $("#codeCas").val();
                     var postData = { values: stringArray };

                     $.ajax({
                         type: "POST",
                         url: '/CasTest/EffCasTest',
                         data: postData,
                         dataType: "json",
                         traditional: true,
                         success: function (data) {
                             alert(data.Result);
                         }

                     });
                 });

                 function getInfoFormCasTest() {

                     var stringArray = new Array();
                     stringArray[0] = $("#nomCas").val();
                     stringArray[1] = $("#codeCas").val();
                     stringArray[2] = $("#codeProjet").val();
                     stringArray[3] = $("#codeTypeTest").val();
                     stringArray[4] = $("#dateCreation").val();
                     stringArray[5] = $("#dateEcheance").val();
                     stringArray[6] = $("#descCas").val();
                     stringArray[7] = $("#descDifficulte").val();
                     stringArray[8] = 1;
                     stringArray[9] = $("#infoSup").val();
                     stringArray[10] = $("#objectifCas").val();
                     stringArray[11] = $("#prioriteCas").val();

                     return stringArray;
                 }

             //    $('#btnEnregistrer').click(function (nomCas, codeCas, codeProjet, codeTypeTest, dateCreation, dateEcheance, descCas, descDifficulte, idAuteur, infoSup, objectifCas, prioriteCas) {
             //        var nomCas = $("#nomCas").val();
             //        var codeCas = $("#codeCas").val();
             //        var codeProjet = $("#codeProjet").val();
             //        var codeTypeTest = $("#codeTypeTest").val();
             //        var dateCreation = $("#dateCreation").val();
             //        var dateEcheance = $("#dateEcheance").val();
             //        var descCas = $("#descCas").val();
             //        var descDifficulte = $("#descDifficulte").val();
             //        var idAuteur = 1;
             //        var infoSup = $("#infoSup").val();
             //        var objectifCas = $("#objectifCas").val();
             //        var prioriteCas = $("#prioriteCas").val();

             //        alert(nomCas);

             //        $.ajax({
             //        url: '/CasTest/EnrCasTest',
             //        contentType: 'application/html; charset=utf-8',
             //        type: 'GET',
             //        dataType: 'html'

             //    })
             //    .success(function (result) {
             //        alert("Enregistrement réussi avec succès")
             //    })
             //    .error(function (xhr, status) {
             //        alert(status);
             //    })
             //});
            </script>




            <div class="btn-group-sm">
                <a class="btn btn-sm btn-info btn-flat pull-right">Retour</a>
            </div>
        </div>

        <div class="box-body">
            <div style="width:50%; float:left;">
                <dl class="dl-horizontal">
                    <dt>Projet: </dt>
                    <dd>
                        <input id="codeProjet" type="text" size="10" maxlength="10" name="txtProjet" value=" " />
                    </dd>

                    <dt>Code: </dt>
                    <dd>
                        <input id="codeCas" type="text" size="12" maxlength="12" name="txtCode" value=" " />
                    </dd>

                    <dt>Nom: </dt>
                    <dd>
                        <input id="nomCas" type="text" size="30" maxlength="30" name="txtNom" value=" " />
                    </dd>

                    <dt>Priorité: </dt>
                    <dd>
                        <select id="prioriteCas">
                            <option value="Faible">Faible</option>
                            <option value="Moyenne">Moyenne</option>
                            <option value="Important">Important</option>
                            <option value="Urgent">Urgent</option>
                        </select>
                    </dd>

                    <dt>Difficulté: </dt>
                    <dd>
                        <select id="descDifficulte">
                            <option value="Debutant">Débutant</option>
                            <option value="Intermediaire">Intermédiaire</option>
                            <option value="Avance">Avancé</option>
                        </select>
                    </dd>

                    <dt>Date de création: </dt>
                    <dd>
                        <input id="dateCreation" class="datepicker-days" type="date" name="txtDateCreation" value=" " />
                    </dd>

                    <dt>Date de d'échéance: </dt>
                    <dd>
                        <input id="dateEcheance" type="date" name="txtDateEcheance" value=" " />
                    </dd>

                    <dt>Objectif: </dt>
                    <dd>
                        <textarea id="objectifCas" type="text" style="width:95%;" rows="5" name="txtNom" value=" "></textarea>
                    </dd>
                </dl>
            </div>
            <div style="width:50%; float: right;">

                <label>Description: </label><br />
                <textarea id="descCas" type="text" style="width:95%;" rows="6" name="txtNom" value=" "></textarea><br />
                <label>Autre: </label><br />
                <textarea id="infoSup" type="text" style="width:95%;" rows="6" name="txtNom" value=" "></textarea><br />


            </div>
        </div>

    </div>
    <div class="box box-default color-palette-box table-responsive">
        <div class="box-header with-border">
            <div class="btn-group-sm">
                
                @* Permet d'envoyer le fichier au serveur *@
                <form id="FormSave" action="SaveFile" method="post" enctype="multipart/form-data">
                    <input input type="file" name="file" id="file" />
                    <button id="ajoutDoc" class="btn btn-sm btn-info btn-flat pull-left">Ajouter un document</button>
                    @*<button id="btnSubmit">SALUT </button>*@
                    @*<input type="submit" />*@
                </form>

                <script>
                    //$('#FormSave').submit(function () {
                    //    $.ajax({
                    //        type: "POST",
                    //        url: '/CasTest/SaveFile',
                    //        data: document.getElementById(file).nodeValue,
                    //        dataType: "file",
                    //        traditional: true,
                    //    });
                    //});


                     $('#ajoutDoc').click(function () {
                     //Le changer pour un ADD pour réutilisation
                     var stringArray = new Array();
                     stringArray[0] = $("#codeCas").val();
                     var postData = { values: stringArray };
                         
                     $.ajax({
                         type: "POST",
                         url: '/CasTest/SaveFile',
                         data: document.getElementById(file).nodeValue,
                         dataType: "file",
                         traditional: true,
                         success: function (data) {
                             alert(data.Result);
                         }
                        
                     });
                 });
    </script>

                @*@using (Html.BeginForm("Index",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
                {
                    <label for="file">Upload Image:</label>
                    <input type="file" name="file" id="file" /><br><br>
                    <input type="submit" value="Upload Image" />
                    <br><br>
                    @ViewBag.Message
                }*@



</div>
        </div>
        <div class="box-body">
            <table id="tblCasTest" class="table table-bordered">
                <tr>
                    <th>Nom document</th>
                    <th>Créateur</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Icone</th>
                    <th>Extension</th>
                    <th>Taille</th>

                    <th></th>
                </tr>

                @for (int i = 0; i < 2; i++)
                {
                    <tr>
                        <td>
                            @("Test" + (i + 1))
                        </td>
                        <td>
                            "Élodie Kérouack"
                        </td>
                        <td>
                            23/10/2015
                        </td>
                        <td>
                            24/10/2015
                        </td>
                        <td>
                            <img src="~/icons/word.ico" width="25" height="25" alt="Microsoft office Word" />
                        </td>
                        <td>
                            .docx
                        </td>
                        <td>
                            654ko
                        </td>
                        <td>
                            <div class="btn-group-sm">
                                <a class="btn btn-sm btn-info btn-flat pull-left">Afficher</a>
                                <a class="btn btn-sm btn-info btn-flat pull-left">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>

@*<script>
    $('#btnEnregistrer').click(function () {
        $.ajax({
            url: '/CasTest/getCasTest',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            $('#tblCasTest').append(result);
        })
        .error(function (xhr, status) {
            alert(status);
        })
    });
</script>*@




