@using Texcel
@model IEnumerable<tblProjet>
@*Creation du tableau de contenant les donnees des cas de test*@
<table id="example1" class="table table-hover stable-bordered no-padding table-responsive dataTable table-striped" role="grid" aria-describedby="example1_info">
    <thead>
        <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 100px;">Code</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 150px;">Titre</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 200px;">Objectif</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 100px;">Date Creation</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 100px;">Date Echeance</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 120px;">Code version</th>
        </tr>
    </thead>
    <tbody>
        @{string typeRow = "odd";
        DateTime echeance, creation;}
        @foreach (var pro in Model)
        {
            if (typeRow == "odd")
            {
                typeRow = "even";
            }
            else
            {
                typeRow = "odd";
            }
            echeance = (DateTime)pro.DateEcheance;
            creation = (DateTime)pro.DateCreation;
            <tr role="row" class="">
                <td class="sorting_1">@pro.CodeProjet</td>
                <td>@pro.TitreProjet</td>
                <td>@pro.ObjectifProjet</td>
                <td>@creation.Date.ToString("yyyy-MM-dd")</td>
                <td>@echeance.Date.ToString("yyyy-MM-dd")</td>
                <td>@pro.CodeVersion</td>
            </tr>
        }
    </tbody>

</table>

